# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [ ]:
a = 7
b = 7
print (a==b)
print (a is b)

True
True

В пайтоні цілі числа в цьому діапазоні кешуються і змінні, що мають одне з цих значень посилаються на один об'єкт. Це зроблено для підвищення швидкості.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [ ]:
x = 4
y = True
print(isinstance(x, int))
print(isinstance(x, bool))
print(isinstance(y, int))
print(isinstance(y, bool))
print(type(y)==int)
print(type(x)==int)

True
False
True
True
False
True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [ ]:
x = -5
y = 3.14
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x//y)
print(x%y)
print(x**y)

-1.8599999999999999
-8.14
-15.700000000000001
-1.592356687898089
-2.0
1.2800000000000002
(-141.6874519655742-66.67305399097596j)

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [ ]:
z = True
print(x, y, z)
y2=int(y)
z2=int(z)
print(x, y2, z2)

-5 2.3 True
-5 2 1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [ ]:
a=""
b = str()
print(a, b)

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [ ]:
a = "м'яч"
a2 = r"м'яч"
print(a, a2)

м'яч м'яч

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [ ]:
surname = "Perets"
formString = f"My surname is {surname}"
print(formString)

My surname is Perets

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [ ]:
a="My dog is crazy"
a=a.lower()
print(a)
a= a.split(" ")
print(a)

my dog is crazy
['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [24]:
a = list('julia')
b = ["ghh", 2]
c = len(a)
print(a, b, "\nДовжина першого списку:", c)

['j', 'u', 'l', 'i', 'a'] ['ghh', 2]
Довжина першого списку: 5

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [23]:
a=[1, 2]
b=[3]
a.append(b)
print(a)

[1, 2, [3]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [36]:
a=[[1, 2], ["a", "b", "g"]]
b=a.pop()
c=b[0]
print(c)

a=[[1, 2], ["h", "b", "g"]]
c=b[-1][0]
print(c)

a
g

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [2]:
a=[1, 3.4, "aaa", False, [1, 2], {1}, 7, (8), True, 6.7]
b=a[2:-2]
print(b)

['aaa', False, [1, 2], {1}, 7, 8]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [4]:
a=(1)
print(a)

1

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

І список і кортеж зберігають набір елементів одного або різних типів, дозволяють звертатися до елементів за їхнів порядковим номером.
Проте список дозволяє вносити корективи в уже існуючий об'єкт тобто є mutable, а для кортежа потрібно створювати новий об'єкт, тобто є immutable. Окрім цього список повільніший за кортеж і займає більше місця.
Список зазвичай використовується якщо дані в ньому потрібно буде змінювати, а кортеж, навпаки, коли потрібно зберігати без змін.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [13]:
a=(1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
b=tuple(reversed(a))
b=b[::2]
print(b)

c=a[::-2]
print(c)

(0.3, 8.3, 6.3, 4.3, 2.3)
(0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [14]:
a=set()
a.add(True)
a.add(5)
print(a)

{True, 5}

Так, множини є змінним типом даних, до них можна додавати та видала=яти об'єкти без створення нового об'єкту

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [15]:
my_list = [1, 1, 2, 67, 67, 8, 9]
a=set(my_list)
print(a)

{1, 2, 67, 8, 9}

Множина не зберігає дублі, лише унікальні значення

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [16]:
a={1, 2, 3, 4, 5}
b={5, 6, 7, 8, 9}

c=a.union(b)
d=a.difference(b)
e=a.intersection(b)
f=a.symmetric_difference(b)

print(c, "\n", d, "\n", e, "\n", f)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
 {1, 2, 3, 4}
 {5}
 {1, 2, 3, 4, 6, 7, 8, 9}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [5]:
dictionary={}
dictionary[1]=0
dictionary[0]=1
dictionary[True]="False"
dictionary["Yes"]="No"
dictionary[(1, True, "Yes")]="No, list cannot be dictionary"
print(dictionary)

{1: 'False', 0: 1, 'Yes': 'No', (1, True, 'Yes'): 'No, list cannot be dictionary'}

Ні, список не може бути ключем, оскільки він є mutable. А ключі маєть бути незмінними.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [8]:
a={1:{
    2:{
        3: 'Third'
      },
      5: 'Fifth'
     },
  4:'Fourth'}
print(a)

{1: {2: {3: 'Third'}, 5: 'Fifth'}, 4: 'Fourth'}

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.